extends layout

mixin expiration(col_width, col_offset)
  //- <!--suppress HtmlUnknownAttribute -->
  #expiration-div(class="col-md-#{col_width} col-md-offset-#{col_offset}")
    select#expiration.selectpicker.show-tick.show-menu-arrow
      option(value="3d", selected, disabled) Expiration (defaults to 3 days)
      option(value="10m") 10 Minutes
      option(value="1h") 1 Hour
      option(value="1d") 1 Day
      option(value="3d") 3 Days
      option(value="7d", data-subtext="7 days") 1 Week
      option(value="14d", data-subtext="14 days") 2 Week
      option(value="30d", data-subtext="30 days") 1 Month

block content
  header#top.header
    .header-overlay.text-vertical-center
      include ./github_ribbon
      h1 Dumpster
      h3 A lightweight, self-hosted and API-based file upload server supporting YubiKey OTP authentication.
      br
      .col-md-6.col-md-offset-3#alert-div
        #parameters-div.row
          if skipAuth
            +expiration(4, 4)
          else
            #token-div.col-md-8
              //- <!--suppress HtmlUnknownAttribute -->
              input#token.form-control(type="text" placeholder="YubiKey Token / Password")
            +expiration(4, 0)
        #upload-div
          form#upload.dropzone(action='#')
            .fallback
              input(name="file" type="file" multiple)
            .dz-message
              | Drop files here or click to upload.

      script.
        skipAuth = #{skipAuth}
        $(document).on('ready', function() {
          Dropzone.options.upload = {
            url: window.location.origin + '/api/upload?json=1',
            paramName: "file",
            maxFiles: 1,
            maxFilesize: #{maxFileSize},
            clickable: true,
            addRemoveLinks: true,
            accept: function(file, done) {
              if (!skipAuth && ($('#token').val().length === 0)) {
                done("You must first input a token or a password.");
              } else {
                done();
              }
            },
            sending: function(file, xhr, formData) {
              xhr.setRequestHeader('dumpster-token', $('#token').val());
              xhr.setRequestHeader('dumpster-expiration', getExpiration());
            },
            success: function(file, response) {
              console.log(response);
              $('#alert-div').html(createAlert(response.downloadUrl));
              done();
            }
          };

          if (!skipAuth) {
            superplaceholder({
              el: document.querySelector('input[id=token]'),
              sentences: [ 'Insert your YubiKey and press its golden button' ],
              options: {
                letterDelay: 75,
                sentenceDelay: 3000,
                startOnFocus: true,
                loop: true,
                showCursor: true,
                cursor: '|'
              }
            });
          }

          function createAlert(url) {
            return '<div class="alert alert-success alert-dismissable">' +
              '<i class="fa fa-check-square"></i>' +
              '<strong>Success! Here\'s your download link.</strong>' +
              '<hr class="message-inner-separator">' +
              '<a href="' + url + '">' + escapeHTMLEntities(url) + '</a>' +
              '</div>';
          }

          function escapeHTMLEntities(str) {
            return str.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
              return '&#' + i.charCodeAt(0) + ';';
            });
          }

          function getExpiration() {
            var expiration = document.getElementById('expiration');
            var selectedIndex = expiration.selectedIndex;
            if (selectedIndex === 0) {
              return "30d";
            } else {
              return expiration.options[selectedIndex].value;
            }
          }
        });
