doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/components/bootstrap-fileinput/css/fileinput.min.css')
    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/components/bootstrap-fileinput/js/fileinput.min.js')
  body
    block content
