doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/components/bootstrap-select/dist/css/bootstrap-select.min.css')
      link(rel='stylesheet', href='/components/dropzone/dist/min/dropzone.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/components/superplaceholder/dist/superplaceholder.min.js')
      script(src='/components/bootstrap-select/dist/js/bootstrap-select.min.js')
      script(src='/components/dropzone/dist/min/dropzone.min.js')

  body
    block content
